{{define "proc_group"}}
<div class="pg pg_unit" style="{{.ExtraStyles}}">
  <p class="pg-name">{{.Name}}</p>
  {{if .IsStopped}}
    <span class="marker marker-stopped">Stopped</span>
    <form class="pg-action" method="post" action="/api/start-unit">
      <input type="hidden" name="unit" value="{{.Name}}">
      <input type="submit" value="Start">
    </form>
  {{else if .IsRunning}}
    <span class="marker marker-running">Running</span>
    <form class="pg-action" method="post" action="/api/stop-unit">
      <input type="hidden" name="unit" value="{{.Name}}">
      <input type="submit" value="Stop">
    </form>
  {{else}}
    <span class="marker marker-stopping">Stopping</span>
    {{if .ForceStopAllowed}}
      <form class="pg-action" method="post" action="/api/stop-unit">
        <input type="hidden" name="unit" value="{{.Name}}">
        <input type="hidden" name="force" value="true">
        <input type="submit" value="Force stop">
      </form>
    {{end}}
  {{end}}
  <p class="pg-desc">{{.Description}}</p>
</div>
{{end}}

<!DOCTYPE html>
<html>
<head>
  <title>tmaxhoc</title>
  <link rel="stylesheet" href="/static/css/main.css" />
  <script src="/static/js/main.js"></script>
</head>
<body>
  <div class="proc-group-container">
  {{range .}}
    {{if .IsOrphan}}
      <div class="pg pg_orphan">
        <p class="pg-name">{{.Name}}</p>
        <span class="marker marker-running">Running</span>
      </div>
    {{else}}
      {{template "proc_group" .}}
    {{end}}
  {{end}}
  </div>
</body>
</html>