/* "C"osmetic tags kind of like tailwind CSS, but homebrew and whatever  */
.c-space-around {
  margin: 0px 0.2em 0px 0.2em;
}

body {
  margin: 40px;
}
#unitsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.unit {
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 0.5em;
  /* Recommended 50-70ch for normal reading, cut it short for our info card style display */
  max-width: 45ch;
}
.unitgroup {
  border-style: double;
  border-width: 3px;
}

.unit-name {
  font-size: 1.3em;
  margin: 0;
}

.unit-action {
  display: inline;
}

.unit-desc {
  margin: 16px 0 16px 0;
}

.marker {
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
}
.marker-running {
  background-color: greenyellow;
}
.marker-stopped {
  background-color: firebrick;
  color: white;
}
.marker-stopping {
  background-color: pink;
}
