.proc-group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.pg {
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 0.5em;
  width: 300px;
}
.pg_orphan {
  border-style: dashed;
}
.pg_unit {
  border-style: solid;
}

.pg-name {
  font-size: 1.3em;
  margin: 0;
}

.pg-action {
  display: inline;
}

.pg-desc {
  margin: 16px 0 16px 0;
}

.marker {
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
}
.marker-running {
  background-color: greenyellow;
}
.marker-stopped {
  background-color: firebrick;
  color: white;
}
.marker-stopping {
  background-color: pink;
}
